<section class="gallery-title le_container text-center" >
    <div class=" card-1" style="background-color:#2a4852;opacity:0.8">
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="headline">Our Services</h1>
                </div>
            </div>
            <div class="row">
                <div class="sub-headline">
                    <p>See the options of your Healthy Journey</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br /><br /><br />